.root {
    composes: grid from global;
    composes: gap-4 from global;
    composes: items-center from global;
    composes: bg-white from global;
    composes: h-[110px] from global;
    composes: justify-items-center from global;
    composes: content-center from global;
    composes: bg-[#EFEFEE] from global;
}
