.root {
    position: relative;
}

.passwordButton {
    composes: root from '@magento/venia-ui/lib/components/Button/button.module.css';
    composes: absolute from global;
    composes: top-[16px] from global;
    composes: ltr_right-0 from global !important;
    composes: rtl_left-0 from global !important;
    composes: stroke-current from global;
    composes: text-grey-lighter from global;
    composes: md_hover_text-grey-light from global;
    composes: md_focus_text-grey-light from global;
}

.icon {
    width: 20px;
}
