.label {
    composes: font-bold from global;
    composes: inline-block from global;
    composes: ltr_mr-2 from global;
    composes: rtl_ml-2 from global;
}

.content {
    composes: inline-block from global;
}

.contentHtml {
    composes: block from global;
}
