.submitButton {
    composes: root_highPriority from '@app/components/overrides/Button/button.module.css';
    composes: my-5 from global;
    composes: w-full from global;
    composes: lg_w-auto from global;
}

.backButton {
    composes: ltr_ml-auto from global;
    composes: rtl_mr-auto from global;
    composes: my-auto from global;

    composes: hover_text-black/70 from global;
    composes: hover_underline from global;
}

.buttonContainer {
    composes: lg_flex from global;
    composes: block from global;
    composes: text-center from global;
}

.emailInputWrapper {
    composes: md_w-[445px] from global;
    composes: mt-7.5 from global;
}
