.root {
    composes: lg_grid from global;
    composes: pb-6 from global;
    composes: border-b from global;
    composes: border-black/20 from global;
    composes: text-sm from global;
    composes: mt-7.5 from global;
    composes: grid-cols-orderItems from global;
}

.root > div {
    @apply pb-2;
}

.nameContainer,
.skuContainer,
.priceContainer,
.qtyContainer {
    composes: grid from global;
    composes: grid-cols-[30%1fr] from global;
    composes: lg_grid-cols-1 from global;
}

.nameLabel,
.skuLabel,
.priceLabel,
.qtyLabel {
    composes: lg_hidden from global;
    composes: text-black/40 from global;
    composes: font-semibold from global;
    composes: text-sm from global;
}
