.root {
    composes: grid from global;
    composes: gap-y-1.5 from global;
}

.heading {
    composes: text-lg from global;
    composes: font-semibold from global;
}

.method:empty {
    @apply hidden;
}
