.sliderTitle {
    composes: gap-2 from global;
}

.sliderTitleBold {
    composes: font-headingBold from global;
}

.secondaryTitleWrapper {
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: grid-flow-col from global;
    composes: gap-2 from global;
}

.trendingProductsRoot {
    composes: rtl_justify-right from global;
    composes: w-full from global;
    composes: pb-25 from global;
}
