.requiredFieldsText {
    composes: text-red from global;
    composes: pt-7.5 from global;
}

.instructions {
    composes: md_w-[445px] from global;
    composes: text-black from global;
}

.root input::placeholder {
    @apply text-black;
}
