.megaMenuItem {
    composes: text-white from global;
    composes: h-full from global;
    composes: flex from global;
    composes: items-center from global;
    composes: px-4 from global;
    composes: md_px-2 from global;
    composes: xl_px-4 from global;
}

.megaMenuLink {
    composes: items-center from global;
    composes: inline-flex from global;
    composes: min-h-full from global;
    composes: font-semibold from global;
    composes: text-menu from global;
    composes: uppercase from global;
    composes: hover_no-underline from global;
    composes: no-underline from global;
    composes: hover_opacity-70 from global;
}

.megaMenuLinkActive {
    composes: megaMenuLink;
}

.megaMenuItem_active {
    composes: megaMenuItem;
}

.arrowDown {
    composes: pl-2 from global;
    composes: leading-0 from global;
}
